# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cython debug symbols
cython_debug/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/
pip-wheel-metadata/
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
ENV/
env/
.venv/
.env/
env.bak/
venv.bak/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.log

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
.pyre/

# Pyre type checker
.pyre/

# pytype
.pytype/

# VS Code settings
.vscode/

# Spyder project settings
.spyderproject
.spyderworkspace

# Rope project settings
.ropeproject

# Local files
*.sqlite3
*.db
*.pdb

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython
profile_default/
ipython_config.py

# Celery
celerybeat-schedule
celerybeat.pid

# dotenv
.env
.env.*

# Pycharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Other
*.swp
*.swo
*.bak
*.tmp

.poetry/